/* Global styles for Fat Slob Plumbing */
/* The idea here is to set cascading globals, then make exceptions lower in the hierarchy as required*/

:root {
  /* Colour Palette */
  --defaultBG: hsl(0, 0%, 98%);
  --defaultFontColor: hsl(36, 83%, 38%);

  --vomitGreen: #7b6e4d;
  --coffee: #e3d1b5;
  --hintOfBrown: #fefceb;

  /* Font Family */
  font-family: "Inter", sans-serif;
  /* Base Font Size */
  font-size: 100%;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

* + * {
  margin-bottom: 0.5rem;
  --borderRadius: 0.5rem;
}

body {
}

a {
  color: var(--defaultFontColor);
  text-decoration: none;
}

section[class$="Section"] {
  height: 100vh;
  text-align: center;
}
