/* Global styles for Fat Slob Plumbing */
/* The idea here is to set cascading globals,
/* then make exceptions lower in the hierarchy as required
*/

:root {
  /* Colour Palette */
  --defaultDark: hsl(249, 100%, 20%);
  --defaultLight: hsl(0, 0%, 99%);

  --shadow: hsla(236, 95%, 60%, 0.75);

  /* Font Family */
  font-family: 'Inter', Tahoma, Verdana, sans-serif;
  /* Base Font Size */
  font-size: 16px;

  --boxShadow: 1px 1px 48px 1px var(--shadow);
  --borderRadius: 4px;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', Tahoma, Verdana, sans-serif;
  }
}

html {
  scroll-behavior: smooth;
  user-select: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

  background: linear-gradient(180deg, #2385d6 0%, #69b4c7 100%);
  font-family: 'Inter var', sans-serif;
}

h1 {
  display: inline-block;
  font-size: clamp(2rem, 10vw, 80px);
  font-family: 'Inter var', sans-serif;
  font-weight: 900;
  letter-spacing: -0.1rem;
  margin: 0px;
  text-align: left;
  translate: 'no';
}

h2 {
  color: var(--defaultLight);
  display: inline-flex;
  font-size: clamp(1.25rem, 10vw, 40px);
  font-weight: 900;
  letter-spacing: -0.1rem;
  margin: 0px;
  text-align: center;
  translate: 'no';
}

/* Set defaults for html <section> tags */
section[class$='Section'] {
  color: var(--defaultDark);
  display: flex;
  flex-direction: column;
  place-items: center;
}

/* Override h1 for Hero section */
section[class$='Section'] h1:not(.heroSection h1) {
  margin-bottom: 2rem;
  text-align: center;
}

div ~ p {
  font-weight: 800;
  margin: 0 auto;
  padding: 1rem 4rem;
  translate: 'no';
}

button {
  background-image: linear-gradient(
    15deg,
    hsl(120, 43%, 99%) 1%,
    hsl(120, 100%, 98%) 100%
  );

  border: none;
  border-radius: var(--borderRadius);
  box-shadow: inherit;
  color: var(--defaultDark);
  font-size: 1rem;
  font-weight: 900;
  width: min(45vw, 240px);
  aspect-ratio: 3/1;
}

button:hover,
:focus {
  cursor: pointer;
  transform: scale(1.05);
}

button.calendarButton {
  margin-top: 2rem;
  width: max(5vw, 120px);
}

@media screen and (min-width: 640px) {
  div ~ p {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
    max-width: clamp(70%, 80vw, 90%);
  }
  section[class$='Section'] .heroButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: min(90vw, 800px);
  }
  h1 {
    letter-spacing: -0.2rem;
  }
}

.animated {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-4px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
